<a href="https://colab.research.google.com/github/Kennyz2004/DA-Project--Predicting-Student-Dropout-and-Academic-Success/blob/main/preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import tensorflow as tf
import os
import pandas as pd  # First, we'll import Pandas, a data processing and CSV file I/O library
import numpy as np
import plotly.express as px
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import aiplatform

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn import svm
from sklearn.metrics import accuracy_score,f1_score,precision_score,recall_score


from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.ensemble import VotingClassifier

Mounted at /content/drive

In [ ]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [ ]:
df = pd.read_csv('/content/drive/My Drive/ColabNotebook3rd2nd/dataset.csv')
df2= pd.read_csv('/content/drive/My Drive/ColabNotebook3rd2nd/df2.csv')

In [ ]:
df2.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,Single,2nd phase—general contingent,5,Animation and Multimedia Design,daytime,Secondary education,Portuguese,General commerce course,Other—11th Year of Schooling,"Personal Services, Security and Safety Workers...",...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,Single,International student (bachelor),1,Tourism,daytime,Secondary education,Portuguese,Secondary Education—12th Year of Schooling or ...,Higher Education—degree,Intermediate Level Technicians and Professions,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,Single,1st phase—general contingent,5,Communication Design,daytime,Secondary education,Portuguese,General Course of Administration and Commerce,Basic education 1st cycle (4th/5th year) or eq...,Unskilled Workers,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,Single,2nd phase—general contingent,2,Journalism and Communication,daytime,Secondary education,Portuguese,Supplementary Accounting and Administration,Basic education 1st cycle (4th/5th year) or eq...,"Personal Services, Security and Safety Workers...",...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,Married,Over 23 years old,1,Social Service (evening attendance),NaN,Secondary education,Portuguese,General Course of Administration and Commerce,Basic Education 2nd Cycle (6th/7th/8th Year) o...,Unskilled Workers,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [ ]:
data_dummy2= pd.get_dummies(df2[['Marital status', 'Application mode','Course',
       'Daytime/evening attendance', 'Previous qualification', 'Nacionality',
       'Mother\'s qualification', 'Father\'s qualification',
       'Mother\'s occupation', 'Father\'s occupation', 'Gender']], drop_first=True)

In [ ]:
data_dummy2.head()

,Marital status_Facto union,Marital status_Legally separated,Marital status_Married,Marital status_Single,Marital status_Widower,Application mode_1st phase—special contingent (Azores Island),Application mode_1st phase—special contingent (Madeira Island),Application mode_2nd phase—general contingent,Application mode_3rd phase—general contingent,Application mode_Change in course,...,Father's occupation_Street vendors (except food) and street service providers,Father's occupation_Student,Father's occupation_Teachers,Father's occupation_Technicians and professionals of intermediate level of health,Father's occupation_Unskilled Workers,"Father's occupation_Unskilled workers in agriculture, animal production, and fisheries and forestry","Father's occupation_Unskilled workers in extractive industry, construction, manufacturing, and transport",Father's occupation_Vehicle drivers and mobile equipment operators,"Father's occupation_Workers in food processing, woodworking, and clothing and other industries and crafts",Gender_male
0,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [ ]:
df2 =pd.concat([df, data_dummy2], axis=1)

In [ ]:
df2 = df2.drop(['Marital status', 'Application mode','Course', 'Daytime/evening attendance',
                                'Previous qualification', 'Nacionality', 'Mother\'s qualification', 'Father\'s qualification',
                                'Mother\'s occupation', 'Father\'s occupation', 'Gender'], axis=1)

In [ ]:
df2.to_csv('/content/drive/My Drive/ColabNotebook3rd2nd/dfhotcode.csv', index=False)

In [ ]:
print(df2.keys())

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance', 'Previous qualification', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Displaced',
       'Educational special needs', 'Debtor', 'Tuition fees up to date',
       'Gender', 'Scholarship holder', 'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

## changing feature elements

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 35 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   object
 1   Application mode                                4424 non-null   object
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   object
 4   Daytime/evening attendance                      3941 non-null   object
 5   Previous qualification                          3906 non-null   object
 6   Nacionality                                     4424 non-null   object
 7   Mother's qualification                          4424 non-null   object
 8   Father's qualification                          4424 non-null   object
 9   Mother's occupation                             4424 non-null   object
 10  Father's occupation                             4424 non-null   object
 11  Displaced                                       4424 non-null   int64
 12  Educational special needs                       4424 non-null   int64
 13  Debtor                                          4424 non-null   int64
 14  Tuition fees up to date                         4424 non-null   int64
 15  Gender                                          4424 non-null   object
 16  Scholarship holder                              4424 non-null   int64
 17  Age at enrollment                               4424 non-null   int64
 18  International                                   4424 non-null   int64
 19  Curricular units 1st sem (credited)             4424 non-null   int64
 20  Curricular units 1st sem (enrolled)             4424 non-null   int64
 21  Curricular units 1st sem (evaluations)          4424 non-null   int64
 22  Curricular units 1st sem (approved)             4424 non-null   int64
 23  Curricular units 1st sem (grade)                4424 non-null   float64
 24  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 25  Curricular units 2nd sem (credited)             4424 non-null   int64
 26  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 27  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 28  Curricular units 2nd sem (approved)             4424 non-null   int64
 29  Curricular units 2nd sem (grade)                4424 non-null   float64
 30  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 31  Unemployment rate                               4424 non-null   float64
 32  Inflation rate                                  4424 non-null   float64
 33  GDP                                             4424 non-null   float64
 34  Target                                          4424 non-null   object
dtypes: float64(5), int64(18), object(12)
memory usage: 1.2+ MB

In [ ]:
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

https://pdfs.semanticscholar.org/6f6b/c57232d584b79fca7852c41f77b103ca9929.pdf

In [ ]:

df['Course'] = df['Course'].map({
  1: "Biofuel Production Technologies",
  2: "Animation and Multimedia Design",
  3: "Social Service (evening attendance)",
  4: "Agronomy",
  5: "Communication Design",
  6: "Veterinary Nursing",
  7: "Informatics Engineering",
  8: "Equiniculture",
  9: "Management",
  10: "Social Service",
  11: "Tourism",
  12: "Nursing",
  13: "Oral Hygiene",
  14: "Advertising and Marketing Management",
  15: "Journalism and Communication",
  16: "Basic Education",
  17: "Management (evening attendance)"
})

df['Previous qualification'] = df['Previous qualification'].map({
  1: "Secondary education",
  2: "Higher education—bachelor’s degree",
  3: "Higher education—degree",
  4: "Higher education—master’s degree",
  5: "Higher education—doctorate",
  6: "Frequency of higher education",
  7: "12th year of schooling—not completed",
  8: "11th year of schooling—not completed"
})

df['Father\'s qualification'] = df['Father\'s qualification'].map({
    1: "Secondary Education—12th Year of Schooling or Equivalent",
    2: "Higher Education—bachelor’s degree",
    3: "Higher Education—degree",
    4: "Higher Education—master’s degree",
    5: "Higher Education—doctorate",
    6: "Frequency of Higher Education",
    7: "12th Year of Schooling—not completed",
    8: "11th Year of Schooling—not completed",
    9: "7th Year (Old)",
    10: "Other—11th Year of Schooling",
    11: "2nd year complementary high school course",
    12: "10th Year of Schooling",
    13: "General commerce course",
    14: "Basic Education 3rd Cycle (9th/10th/11th Year) or Equivalent",
    15: "Complementary High School Course",
    16: "Technical-professional course",
    17: "Complementary High School Course—not concluded",
    18: "7th year of schooling",
    19: "2nd cycle of the general high school course",
    20: "9th Year of Schooling—not completed",
    21: "8th year of schooling",
    22: "General Course of Administration and Commerce",
    23: "Supplementary Accounting and Administration",
    24: "Unknown",
    25: "Cannot read or write",
    26: "Can read without having a 4th year of schooling",
    27: "Basic education 1st cycle (4th/5th year) or equivalent",
    28: "Basic Education 2nd Cycle (6th/7th/8th Year) or equivalent",
    29: "Technological specialization course",
    30: "Higher education—degree (1st cycle)",
    31: "Specialized higher studies course",
    32: "Professional higher technical course",
    33: "Higher Education—master’s degree (2nd cycle)",
    34: "Higher Education—doctorate (3rd cycle)"
})

df['Mother\'s qualification'] = df['Mother\'s qualification'].map({
    1: "Secondary Education—12th Year of Schooling or Equivalent",
    2: "Higher Education—bachelor’s degree",
    3: "Higher Education—degree",
    4: "Higher Education—master’s degree",
    5: "Higher Education—doctorate",
    6: "Frequency of Higher Education",
    7: "12th Year of Schooling—not completed",
    8: "11th Year of Schooling—not completed",
    9: "7th Year (Old)",
    10: "Other—11th Year of Schooling",
    11: "2nd year complementary high school course",
    12: "10th Year of Schooling",
    13: "General commerce course",
    14: "Basic Education 3rd Cycle (9th/10th/11th Year) or Equivalent",
    15: "Complementary High School Course",
    16: "Technical-professional course",
    17: "Complementary High School Course—not concluded",
    18: "7th year of schooling",
    19: "2nd cycle of the general high school course",
    20: "9th Year of Schooling—not completed",
    21: "8th year of schooling",
    22: "General Course of Administration and Commerce",
    23: "Supplementary Accounting and Administration",
    24: "Unknown",
    25: "Cannot read or write",
    26: "Can read without having a 4th year of schooling",
    27: "Basic education 1st cycle (4th/5th year) or equivalent",
    28: "Basic Education 2nd Cycle (6th/7th/8th Year) or equivalent",
    29: "Technological specialization course",
    30: "Higher education—degree (1st cycle)",
    31: "Specialized higher studies course",
    32: "Professional higher technical course",
    33: "Higher Education—master’s degree (2nd cycle)",
    34: "Higher Education—doctorate (3rd cycle)"
})

In [ ]:
df['Mother\'s occupation'] = df['Mother\'s occupation'].map({
    1: "Student",
    2: "Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers",
    3: "Specialists in Intellectual and Scientific Activities",
    4: "Intermediate Level Technicians and Professions",
    5: "Administrative staff",
    6: "Personal Services, Security and Safety Workers, and Sellers",
    7: "Farmers and Skilled Workers in Agriculture, Fisheries, and Forestry",
    8: "Skilled Workers in Industry, Construction, and Craftsmen",
    9: "Installation and Machine Operators and Assembly Workers",
    10: "Unskilled Workers",
    11: "Armed Forces Professions",
    12: "Other Situation",
    13: "(blank)",
    14: "Armed Forces Officers",
    15: "Armed Forces Sergeants",
    16: "Other Armed Forces personnel",
    17: "Directors of administrative and commercial services",
    18: "Hotel, catering, trade, and other services directors",
    19: "Specialists in the physical sciences, mathematics, engineering, and related techniques",
    20: "Health professionals",
    21: "Teachers",
    22: "Specialists in finance, accounting, administrative organization, and public and commercial relations",
    23: "Intermediate level science and engineering technicians and professions",
    24: "Technicians and professionals of intermediate level of health",
    25: "Intermediate level technicians from legal, social, sports, cultural, and similar services",
    26: "Information and communication technology technicians",
    27: "Office workers, secretaries in general, and data processing operators",
    28: "Data, accounting, statistical, financial services, and registry-related operators",
    29: "Other administrative support staff",
    30: "Personal service workers",
    31: "Sellers",
    32: "Personal care workers and the like",
    33: "Protection and security services personnel",
    34: "Market-oriented farmers and skilled agricultural and animal production workers",
    35: "Farmers, livestock keepers, fishermen, hunters and gatherers, and subsistence",
    36: "Skilled construction workers and the like, except electricians",
    37: "Skilled workers in metallurgy, metalworking, and similar",
    38: "Skilled workers in electricity and electronics",
    39: "Workers in food processing, woodworking, and clothing and other industries and crafts",
    40: "Fixed plant and machine operators",
    41: "Assembly workers",
    42: "Vehicle drivers and mobile equipment operators",
    43: "Unskilled workers in agriculture, animal production, and fisheries and forestry",
    44: "Unskilled workers in extractive industry, construction, manufacturing, and transport",
    45: "Meal preparation assistants",
    46: "Street vendors (except food) and street service providers"
})

df['Father\'s occupation'] = df['Father\'s occupation'].map({
    1: "Student",
    2: "Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers",
    3: "Specialists in Intellectual and Scientific Activities",
    4: "Intermediate Level Technicians and Professions",
    5: "Administrative staff",
    6: "Personal Services, Security and Safety Workers, and Sellers",
    7: "Farmers and Skilled Workers in Agriculture, Fisheries, and Forestry",
    8: "Skilled Workers in Industry, Construction, and Craftsmen",
    9: "Installation and Machine Operators and Assembly Workers",
    10: "Unskilled Workers",
    11: "Armed Forces Professions",
    12: "Other Situation",
    13: "(blank)",
    14: "Armed Forces Officers",
    15: "Armed Forces Sergeants",
    16: "Other Armed Forces personnel",
    17: "Directors of administrative and commercial services",
    18: "Hotel, catering, trade, and other services directors",
    19: "Specialists in the physical sciences, mathematics, engineering, and related techniques",
    20: "Health professionals",
    21: "Teachers",
    22: "Specialists in finance, accounting, administrative organization, and public and commercial relations",
    23: "Intermediate level science and engineering technicians and professions",
    24: "Technicians and professionals of intermediate level of health",
    25: "Intermediate level technicians from legal, social, sports, cultural, and similar services",
    26: "Information and communication technology technicians",
    27: "Office workers, secretaries in general, and data processing operators",
    28: "Data, accounting, statistical, financial services, and registry-related operators",
    29: "Other administrative support staff",
    30: "Personal service workers",
    31: "Sellers",
    32: "Personal care workers and the like",
    33: "Protection and security services personnel",
    34: "Market-oriented farmers and skilled agricultural and animal production workers",
    35: "Farmers, livestock keepers, fishermen, hunters and gatherers, and subsistence",
    36: "Skilled construction workers and the like, except electricians",
    37: "Skilled workers in metallurgy, metalworking, and similar",
    38: "Skilled workers in electricity and electronics",
    39: "Workers in food processing, woodworking, and clothing and other industries and crafts",
    40: "Fixed plant and machine operators",
    41: "Assembly workers",
    42: "Vehicle drivers and mobile equipment operators",
    43: "Unskilled workers in agriculture, animal production, and fisheries and forestry",
    44: "Unskilled workers in extractive industry, construction, manufacturing, and transport",
    45: "Meal preparation assistants",
    46: "Street vendors (except food) and street service providers"
})

df['Gender'] = df['Gender'].map({
    1: 'male',
    0: 'female'
})

In [ ]:
df['Nacionality'] = df['Nacionality'].map({
  1: "Portuguese",
  2: "German",
  3: "Spanish",
  4: "Italian",
  5: "Dutch",
  6: "English",
  7: "Lithuanian",
  8: "Angolan",
  9: "Cape Verdean",
  10: "Guinean",
  11: "Mozambican",
  12: "Santomean",
  13: "Turkish",
  14: "Brazilian",
  15: "Romanian",
  16: "Moldova (Republic of)",
  17: "Mexican",
  18: "Ukrainian",
  19: "Russian",
  20: "Cuban",
  21: "Colombian"
})

df['Marital status'] = df['Marital status'].map({
  1: "Single",
  2: "Married",
  3: "Widower",
  4: "Divorced",
  5: "Facto union",
  6: "Legally separated"
})

In [ ]:
df['Application mode'] = df['Application mode'].map({
    1: "1st phase—general contingent",
    2: "Ordinance No. 612/93",
    3: "1st phase—special contingent (Azores Island)",
    4: "Holders of other higher courses",
    5: "Ordinance No. 854-B/99",
    6: "International student (bachelor)",
    7: "1st phase—special contingent (Madeira Island)",
    8: "2nd phase—general contingent",
    9: "3rd phase—general contingent",
    10: "Ordinance No. 533-A/99, item b2) (Different Plan)",
    11: "Ordinance No. 533-A/99, item b3 (Other Institution)",
    12: "Over 23 years old",
    13: "Transfer",
    14: "Change in course",
    15: "Technological specialization diploma holders",
    16: "Change in institution/course",
    17: "Short cycle diploma holders",
    18: "Change in institution/course (International)"
})

df['Daytime/evening attendance'] = df['Daytime/evening attendance'].map({
    1: "daytime",
    2: "evening"
})

In [ ]:
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,Single,2nd phase—general contingent,5,Animation and Multimedia Design,daytime,Secondary education,Portuguese,General commerce course,Other—11th Year of Schooling,"Personal Services, Security and Safety Workers...",...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,Single,International student (bachelor),1,Tourism,daytime,Secondary education,Portuguese,Secondary Education—12th Year of Schooling or ...,Higher Education—degree,Intermediate Level Technicians and Professions,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,Single,1st phase—general contingent,5,Communication Design,daytime,Secondary education,Portuguese,General Course of Administration and Commerce,Basic education 1st cycle (4th/5th year) or eq...,Unskilled Workers,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,Single,2nd phase—general contingent,2,Journalism and Communication,daytime,Secondary education,Portuguese,Supplementary Accounting and Administration,Basic education 1st cycle (4th/5th year) or eq...,"Personal Services, Security and Safety Workers...",...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,Married,Over 23 years old,1,Social Service (evening attendance),NaN,Secondary education,Portuguese,General Course of Administration and Commerce,Basic Education 2nd Cycle (6th/7th/8th Year) o...,Unskilled Workers,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [ ]:
df.to_csv('/content/drive/My Drive/ColabNotebook3rd2nd/df2.csv', index=False)

NameError: name 'df' is not defined